
# Basic project env
NODE_ENV=development


# SMPT env
SMPT_HOST=
SMPT_PORT=
SMPT_USER=
SMPT_PASSWORD=


# NEXTAUTH env
NEXTAUTH_SECRET=
NEXT_PUBLIC_BASE_URL=
DOMAIN=

# MONGO DB env
MONGO_URI=mongodb://mongo:0l5i4tPzPPZoCgS2wvG0@mongo-db-jhpuwa:27017



# Stripe env
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PK=



#Google env
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=